body{
    margin-left: 50px;
    margin-right: 50px;
}
.logo{
    flex: 0.6;
}
.dadesFactura {
    justify-content: flex-end;
}
.importFactura {
    width: 100%;
    border: 2px solid red;
}

.dadesClients{
margin: 50px;
flex: 1;

}
.resumenFactura{
flex: 0.5;
}
.tabla{
    border: 2px solid red;
}
.dadesContracte{

}
.infoConsum{

}
.destiImport{

}
.dadesPagament{

}
.row{
    display: flex;
}


